.transactionHash{
    color: green;
    font-size: 1.4rem;
    margin-top: 1rem !important;
}

.btnandprice {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnandprice__labels {
    display: flex;
    flex-direction: column;
}

.btnandprice__labels > p {
    font-size: 1.2rem;
    margin-left: .7rem !important;
    margin-bottom: 0 !important;
}

.form-card {
    min-width: 500px;
    margin-top: 2.5rem !important;
}